@using Microsoft.AspNetCore.Identity
@model IEnumerable<ReviewListingModel>
@inject SignInManager<IdentityUser> SignInManager

@{ ViewData["Title"] = "Reviews"; }

<h2>@ViewData["Title"]</h2>

@if (SignInManager.IsSignedIn(User))
{
<p>
    <a asp-controller="Reviews" asp-action="Add" class="btn btn-secondary">Add Review</a>
</p>
}

<div class="row">
    @foreach (var review in Model)
    {
    <div class="col-md-10">
        <article>
            <h2>@review.BookName</h2>

            <header>
                <h3>@review.Title</h3>
            </header>

            <p>
                @review.Description
            </p>

            <small class="author">
                @review.Author
            </small>

            <footer>
                @if (SignInManager.IsSignedIn(User))
                {
                <div class="pull-right">
                    <a asp-controller="Reviews" asp-action="Edit"
                       asp-route-id=@review.Id class="btn btn-warning btn-xs">Edit</a>
                    <a asp-controller="Reviews" asp-action="Delete"
                        asp-route-id=@review.Id class="btn btn-danger btn-xs">Delete</a>
                </div>                
                }

                <div class="pull-right">
                    <a asp-controller="Reviews" asp-action="Details"
                       asp-route-id=@review.Id class="btn btn-default btn-xs">Read more &raquo;</a>
                </div>
            </footer>
        </article>
        <hr>
    </div>
    }
</div>

@*"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"*@